<div class="App">
  <section class="background--green">
    <h1>Angular + Web Components</h1>
  </section>

  <section class="background--white">
    <h3>Web component Input</h3>
    <input-field
      label="First name"
      [value]="form.firstName"
      (input)="form.firstName = $event.target.value"
    ></input-field>
    <input-field
      label="Last name"
      [value]="form.lastName"
      (input)="form.lastName = $event.target.value"
    ></input-field>
  </section>

  <section class="background--champagne">
    <h3>Default HTML Input</h3>
    <input
      type="text"
      [value]="form.firstName"
      (input)="form.firstName = $event.target.value"
    />
    <input
      type="text"
      [value]="form.lastName"
      (input)="form.lastName = $event.target.value"
    />
  </section>
  <section class="background--blue">
    <strong
      ><pre>{{ JSON.stringify(form) }}</pre></strong
    >
  </section>
</div>
